#game-interface {
    border-width: 10px;
    border: solid;
    width: 600px;
    margin-top: auto;
    margin-left: 32%;
    opacity: 0.8;
}

.row-block {
    width: 600px;
    margin: auto;
    background-color: gray;
    display: flex;
}

.subblock {
    /* background-color: sandybrown; */
    border: solid;
    display: flex;
    align-items: center;
}

p[class="subblock"] {
    font-size: xx-large;
}

.block-num {
    font-size: 50px;
    display: block;
    /* text-align: center; */
    margin: auto;
}

h1 {
    text-align: center;
}

.restart-button {
    background-color: orange;
    width: 200px;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 100px;
    border: solid;
    display: block;
    opacity: 0.4;
}

.button-text {
    font-size: 30px;
    display: block;
    text-align: center;
}

main {
    display: flex;
}

.select-button {
    font-size: 30px;
    display: block;
    text-align: center;
}

body {
    /* background-image: url(http://img.xz7.com/up/2017-7/2017071009273192386.png); */
    /* background-image: url(https://cdn2.kkgal.com/pic2/477DFC28.jpg); */
    /* background-image: url(https://cdn2.kkgal.com/pic2/C255532A.jpg); */
    background-image: url(https://th.bing.com/th/id/R61868c2ea355f658d89ea63c359c90d8?rik=Emh7i2NcQn24nA&riu=http%3a%2f%2fi2.hdslb.com%2fbfs%2farchive%2f75e2a5b61dc54b2ad5a66176bf99e248548cd228.jpg&ehk=9ELd1CDNEUyT17auH8yGjYxKMSATqwxymnMsnWv9qU0%3d&risl=&pid=ImgRaw);
    background-repeat: no-repeat;
    /* background-size: 100%, 100%; */
    background-size: 100%;
    /* background-position: 100%, 100%; */
}